/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$navbar-height:64px;
$navbar-inverse-bg:#1B8AFA;
$navbar-inverse-link-color:#FFF;
$navbar-border-radius:0;


@import "bootstrap";




body {
  background: #fff;
}

.global-footer {
  background-color: #303749;
  color: #FFF;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding:40px;
  height:150px;
}

.global-content{
  margin:100px auto 160px;
}
